@{
    ViewData["Title"] = "Администрирование БД";
}
<main class="content-main">
    <div class="con-man" style="display: block; margin-bottom: 30px;">
        <canvas id="myChart"></canvas>
    </div>
</main>
<script>
    $('#myChart').load("https://new2.rea.ru/");
</script>
