<link rel="stylesheet" href="~/css/styletovarilist.css">
@{
    ViewData["Title"] = "Рекламные блоки сайта";
}
<main class="content-main" style="max-width: 1190px; margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1190px;
    padding: 0 13px;">
        <div>
            <div class="filter" style="padding-left: 25px; padding-right: 25px; margin-top: 25px;">
                <div>
                    <div class="filter__title">Наименование рекламы:</div>
                    <div class="filter-range-preview">
				        <input style="margin: 0; text-align: left;" class="filter-range-preview__input" id="searchf">
			        </div>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <div class="filter__title">Сортировать по:</div>
                        <div class="filter-range-preview">
                            <select id="typesort" name="typesort" style="width: 100%;">
                              <option value="0">По умолчанию (сначала активные)</option>
                              <option value="1">По окончанию срока (сначала завер.)</option>
                              <option value="2">По наименованию</option>
                            </select>
			            </div>
                    </div>
                    <div>
                        <div class="filter__title">Тип:</div>
                         <div class="filter-range-preview">
                            <select id="type" name="type" style="width: 100%;">
                              <option value="0">Любой</option>
                              <option value="1">Главный блок</option>
                              <option value="2">Правый верхний</option>
                              <option value="3">Правый нижний</option>
                            </select>
			            </div>
                    </div>
                    <div>
                        <div class="filter__title">Статус:</div>
                        <div class="filter-range-preview">
                            <select id="status" name="type" style="width: 100%;">
                               <option value="0">Любой</option>
                              <option value="1">Активно</option>
                              <option value="2">Не активно</option>
                            </select>
			            </div>
                    </div>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <button id="btn_filters" style="margin-top: 10px;" class="btn btn_outline btn_primary filter__submit">Применить</button>
                    <a id="addAdds" asp-action="AddEditAdds" asp-controller="AddsSites" asp-route-id="0"><button style="margin-top: 10px;" class="btn btn_outline btn_primary filter__submit">Добавить блок рекламы</button></a>
                </div>
        </div>
        <div style="padding-top: 25px;" id="panel"></div>
    </div>
    <script type="text/javascript">
        var urls = '@Url.Action("GetAllAdds", "AddsSites")';
        $('#panel').load(urls);
        $("#btn_filters").click(function(){
            var urls = '@Url.Action("GetAllAdds", "AddsSites")?search=' + $("#searchf").val() +'&typesort='+$("#typesort").val()+'&type='+$("#type").val()+'&status='+$("#status").val();
            $('#panel').load(urls);
        });
        $("#addAdds").click(function (e) {
            $.ajaxSetup({ cache: false });
            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').show();
            });
        });
        function deleteConfirm(theObject){
            $.ajaxSetup({ cache: false });
            $.get('/AddsSites/ConfirmDelete/'+theObject, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').show();
            });
        }
        function editAdds(theObject){
            $.ajaxSetup({ cache: false });
            $.get('/AddsSites/AddEditAdds/'+theObject, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').show();
            });
        }
    </script>
</main>
