@using System.Diagnostics;
@model ChangeInformation

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" defer></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" defer></script>
<script src="~/lib/jQuery-Mask-Plugin-master/dist/jquery.mask.js"></script>
<div class="modal-content">
    @Html.AntiForgeryToken()
    <div class="modal-windows modal-body">
        <div class="obratnii-zvonok">
            <div class="form-auth fformms" style="padding: 30px; background-color: #fff; border-radius: 5px; box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 12%); color: #696969; ">
                <div class="zvonok-title">Изменение личной информации профиля</div>
                <form asp-controller="Home" asp-action="ChangeProfileInfoPost" class="callback-from">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div style="display: none;"><input asp-for="Id"/></div>
                    <div class="form-zap">
                        <label class="required" for="email">E-mail</label>
                        <input type="text" asp-for="Email" class="inputs imz-in">
                        <span asp-validation-for="Email" style="color: red;"></span>
                    </div>
                    <div class="form-zap">
                        <label class="required" for="ima">Имя</label>
                        <input type="text" asp-for="Ima" class="inputs imz-in">
                        <span asp-validation-for="Ima" style="color: red;"></span>
                    </div>
                    <div class="form-zap">
                        <label class="required" for="ima">Фамилия</label>
                        <input type="text" asp-for="Familia" class="inputs imz-in">
                        <span asp-validation-for="Familia" style="color: red;"></span>
                    </div>
                    <div class="form-zap">
                        <label class="required" for="phone">Номер телефона</label>
                        <input type="text" asp-for="Telefon" id="telnam" class="inputs tel-in">
                        <span asp-validation-for="Telefon" style="color: red;"></span>
                    </div>
                </form>
                <div class="form-zap">
                    <div class="btn-center">
                        <button class="sbm-zvonok" data-save="modal1" id="Regis">Обновить данные</button>
                    </div>
                </div>
                <script>
                    $('#telnam').mask('+7(000)000-00-00');
                    var placeholderElement = $('.modal');
                    $("#Regis").click(function (e) {
                        console.log("Clixk on Regis");
                        //e.preventDefault();
                        var form = $(this).parents('.modal').find('form');
                        var actionUrl = form.attr('action');
                        var dataToSend = form.serialize();

                        $.post(actionUrl, dataToSend).done(function (data) {
                            var newBody = $('.modal-body', data);
                            placeholderElement.find('.modal-body').replaceWith(newBody);

                            var isValid = newBody.find('[name="IsValid"]').val() == 'True';
                            console.log(newBody.find('[name="IsValid"]').val());
                            if (newBody.find('[name="IsValid"]').val() == undefined || newBody.find('[name="IsValid"]').val() == 'True') {
                                alert("Данные успешно изменены");
                                window.location.href = '/Home/MyProfile';
                            }
                        });
                    });
                </script>
                <div class="btn-center">
                    <button class="sbm-zvonok otm" style="background-color: #c4c4c4; margin-top: 10px; color: White;" onclick='$(".modal-content").remove();'>Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>